@import "../../ui-component/scss/utility.imports";

.contact {
	background: {
		image: url("../../assets/images/connection-network.webp");
		position: 96% 96%;
		repeat: no-repeat;
	}
	h1 {
		+ p {
			font: {
				size: rem(18);
			}
			color: $secondaryColor;
			margin: {
				bottom: rem(48px);
			}
		}
	}
	.contact-form {
		background: {
			position: 0 100%;
		};
		form {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			gap: rem(24);
			max-width: 50vw;
			label {
				font: {
					family: inherit;
				}
			}
		}
	}
	// mobile
	@include breakpoint(max-width $breakpointsMobile) {
		.contact-form {
			form {
				max-width: unset;
			}
		}
	}
	// tablet
	@include breakpoint($breakpointsTablet) {}
	// desktop
	@include breakpoint(min-width $breakpointsDesktop) {}
}