
@import "./ui-component/scss/utility.imports";
:root {
	--MIFill: 0;
	--MIWeight: 400;
	--MIGrad: 0;
	--MIOPSZ: 24;
}

.material-symbols-outlined {
	position: relative;
	top: rem(-2);
	font-variation-settings:
		'FILL' var(--MIFill),
		'wght' var(--MIWeight),
		'GRAD' var(--MIGrad),
		'opsz' var(--MIOPSZ)
}

a {
	color: $quaternaryColor;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(20) rem(30);
	z-index: 1;
	// background: {
	// 	color: rgba($quinaryColor, 0.8);
	// }
	ul {
		display: flex;
		align-items: center;
		gap: rem(30px);
		margin: 0;
		li {
			list-style: none;
			a {
				display: block;
				font: {
					size: rem(24);
					weight: 700;
				}
				text-decoration: none;
				color: $secondaryColor;
				filter: drop-shadow(0 0 #{rem(2)} $quinaryColor);
			}
		}
	}
}

.td-main-layout {
	min-height: calc(100vh - #{rem(84)});
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: {
		color: $secondaryColor;
	}
	padding: rem(10) rem(30);
	.copy-right {
		display: flex;
		align-items: center;
		color: $quinaryColor;
		font: {
			size: rem(20);
			weight: 700;
		}
		span {
			right: rem(5px);
		}
	}
	ul {
		display: flex;
		align-items: center;
		list-style: none;
		gap: rem(15);
		margin: 0;
		a {
			display: block;
			text-decoration: none;
			font: {
				size: rem(20);
				weight: 700;
			}
			color: $quinaryColor;
		}
		svg {
			width: rem(30);
			height: rem(30);
			path {
				fill: $quinaryColor;
			}
		}
	}
}