
@import "./ui-component/scss/utility.imports";
:root {
	--MIFill: 0;
	--MIWeight: 400;
	--MIGrad: 0;
	--MIOPSZ: 24;
}

.material-symbols-outlined {
	position: relative;
	top: rem(-2);
	font-variation-settings:
		'FILL' var(--MIFill),
		'wght' var(--MIWeight),
		'GRAD' var(--MIGrad),
		'opsz' var(--MIOPSZ)
}

a {
	color: $quaternaryColor;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(20) rem(30);
	z-index: 1;
	ul {
		display: flex;
		align-items: center;
		gap: rem(30px);
		margin: 0;
		li {
			list-style: none;
			a {
				display: block;
				font: {
					size: rem(24);
					weight: 700;
				}
				text-decoration: none;
				color: $secondaryColor;
				filter: drop-shadow(0 0 #{rem(2)} $quinaryColor);
			}
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: {
		color: $secondaryColor;
	}
	padding: {
		left: rem(30);
		right: rem(30);
	}
	.copy-right {
		display: flex;
		align-items: center;
		color: $quinaryColor;
		span {
			right: rem(5px);
		}
	}
	ul {
		display: flex;
		align-items: center;
		list-style: none;
		gap: rem(15);
		a {
			display: block;
		}
		svg {
			width: rem(40);
			height: rem(40);
		}
		img {
			width: rem(40);
		}
	}
}