
@import "./ui-component/scss/utility.imports";
@import "../../ui-component/scss/button";

:root {
	--MIFill: 0;
	--MIWeight: 400;
	--MIGrad: 0;
	--MIOPSZ: 24;
}

h1, h2, h3, h4, h5, h6, p {
	color: $secondaryColor;
}

.material-symbols-outlined {
	position: relative;
	font-variation-settings:
		'FILL' var(--MIFill),
		'wght' var(--MIWeight),
		'GRAD' var(--MIGrad),
		'opsz' var(--MIOPSZ)
}

a {
	color: $quaternaryColor;
}

.read-more {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: rem(3);
		left: 0;
		width: 94%;
		border: {
			bottom: rem(1) solid $quaternaryColor;
		}
	}
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(20) rem(30);
	z-index: 2;
	// background: {
	// 	color: rgba($quinaryColor, 0.8);
	// }
	.material-symbols-outlined {
		display: none;
		background: {
			color: transparent;
		}
		border: unset;
		box-sizing: none;
		color: $quaternaryColor;
		font: {
			size: rem(48);
		}
		transition: all ease 0.3;
	}
	ul {
		display: flex;
		margin: 0;
		li {
			list-style: none;
			a {
				font: {
					size: rem(24);
				}
				text-transform: uppercase;
				text-decoration: none;
				color: $quinaryColor;
			}
		}
	}
	// mobile
	@include breakpoint(max-width $breakpointsMobile) {
		.material-symbols-outlined {
			display: block;
			z-index: 1;
			&.nav-open {
				+ ul {
					left: 0;
					li {
						left: 0;
					}
				}
			}
		}
		ul {
			position: absolute;
			top: 0;
			left: 100vw;
			width: 100vw;
			height: 100vh;
			flex-direction: column;
			padding: 14vh 12vw;
			gap: rem(45);
			background: {
				color: $secondaryColor;
			}
			transition: left ease 0.3s;
			li {
				position: relative;
				left: calc(100vw + #{rem(45)});
				transition: left ease 0.3s;
				&:first-of-type {
					transition-delay: 0.1s;
				}
				&:nth-of-type(2) {
					transition-delay: 0.3s;
				}
				&:last-of-type {
					transition-delay: 0.5s;
				}
			}
		}
	}
	// tablet
	@include breakpoint($breakpointsTablet) {
		.material-symbols-outlined {
			display: block;
			z-index: 1;
			&.nav-open {
				+ ul {
					left: 0;
					li {
						left: 0;
					}
				}
			}
		}
		ul {
			position: absolute;
			top: 0;
			left: 100vw;
			width: 100vw;
			height: 100vh;
			flex-direction: column;
			padding: 14vh 12vw;
			gap: rem(45);
			background: {
				color: $secondaryColor;
			}
			transition: left ease 0.3s;
			li {
				position: relative;
				left: calc(100vw + #{rem(45)});
				transition: left ease 0.3s;
				&:first-of-type {
					transition-delay: 0.1s;
				}
				&:nth-of-type(2) {
					transition-delay: 0.3s;
				}
				&:last-of-type {
					transition-delay: 0.5s;
				}
			}
		}
	}
	// desktop
	@include breakpoint(min-width $breakpointsDesktop) {
		ul {
			align-items: center;
			gap: rem(30);
			li {
				a {
					display: block;
					font: {
						size: rem(24);
						weight: 700;
					}
					text-decoration: none;
					color: $secondaryColor;
					filter: drop-shadow(0 0 #{rem(2)} $quinaryColor);
				}
			}
		}
	}
}

.td-main-layout {
	min-height: calc(100vh - #{rem(84)});
	&.peach-white {
		background: {
			color: $quinaryColor;
		}
		.back-container {
			margin: {
				top: rem(60);
				bottom: rem(30);
			}
			a {
				display: flex;
				align-items: center;
				text-decoration: none;
			}
			.material-symbols-outlined {
				font: {
					size: rem(32);
				}
			}
			+ h1 {
				margin: {
					top: 0;
				}
			}
		}
		h1 {
			color: $secondaryColor;
			text-transform: uppercase;
			margin: {
				top: rem(60)
			}
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: {
		color: $secondaryColor;
	}
	padding: rem(10) rem(30);
	.copy-right {
		display: flex;
		align-items: center;
		color: $quinaryColor;
		font: {
			size: rem(20);
			weight: 700;
		}
		span {
			margin: {
				right: rem(5px);
			}
		}
	}
	ul {
		display: flex;
		align-items: center;
		list-style: none;
		gap: rem(15);
		margin: 0;
		a {
			display: block;
			text-decoration: none;
			font: {
				size: rem(20);
				weight: 700;
			}
			color: $quinaryColor;
		}
		svg {
			width: rem(30);
			height: rem(30);
			path {
				fill: $quinaryColor;
			}
		}
	}
	// mobile
	@include breakpoint(max-width $breakpointsMobile) {
		flex-direction: column;
		align-items: flex-start;
		ul {
			padding: 0;
		}
	}
	// tablet
	@include breakpoint($breakpointsTablet) {

	}
	// desktop
	@include breakpoint(min-width $breakpointsDesktop) {

	}
}

.td-main-layout {
	.td-input-container {
		label {
			font: {
				family: inherit;
			}
		}
	}
}