@import "../ui-component/scss/utility.imports";

.homepage {
	overflow-x: hidden;
	.hero-panel {
		width: 100%;
		height: 100vh;
		background: {
			color: $quinaryColor;
		}
		margin: {
			bottom: unset;
		}
		.content-wrapper {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.portrait-container {
		position: relative;
		filter: drop-shadow(0 0 #{rem(128)} $quaternaryColor);
		h1 {
			position: absolute;
			bottom: rem(-7px);
			margin: 0;
			font: {
				size: rem(39px);
				weight: 900;
			}
			text-transform: uppercase;
			color: $quaternaryColor;
			text-shadow: rem(2) 0 0 $quinaryColor;
			&:after {
				content: "Who is Daniel?";
				position: absolute;
				left: 0;
				font: {
					size: rem(39px);
					weight: 900;
				}
				text-transform: uppercase;
				transform: rotate3d(1, 0, 0, 220deg);
				bottom: rem(-21);
				opacity: 0.5;
			}
		}
	}
	.about-me {
		margin: {
			bottom: 0;
		}
		min-height: rem(300);
		&.husband {
			background: {
				color: rgba($primaryColor, 0.1);
			}
			img {
				top: rem(20);
			}
		}
		&.father {
			background: {
				color: rgba($secondaryColor, 0.1);
			}
		}
		&.engineer {
			background: {
				color: rgba($tertiaryColor, 0.1);
			}
		}
		&.fishkeeper {
			background: {
				color: rgba($quaternaryColor, 0.1);
			}
		}
		&.gamer {
			background: {
				color: rgba($quinaryColor, 0.1);
			}
		}
		&.explorer {
			background: {
				image: linear-gradient(124deg, rgba($primaryColor, 0.2), rgba($secondaryColor, 0.2), rgba($tertiaryColor, 0.2), rgba($quaternaryColor, 0.2), rgba($quinaryColor, 0.2)) !important;
				size: 1800% 1800%;
			}
			animation: rainbow 18s ease infinite;
		}
		// commented out code is to experiment with transition from display none using allow-discrete and then use the @starting-style rule.
		&.align-left {
			&.section-in-view {
				h2 {
					transform: translateX(0);
				}
				img {
					// display: block;
					right: rem(30);
					transform: translateX(0) rotate(10deg);
					// @starting-style {
					// 	transform: translateX(calc(-100vw - 30px));
					// }
				}
			}
			h2 {
				transform: translateX(-500px);
				transition: transform ease 0.4s;
			}
			img {
				// display: none;
				transform: translateX(calc(-100vw - 30px)) rotate(-35deg);
				transition: transform ease 0.3s;
				// transition-behavior: allow-discrete;
			}
		}
		&.align-right {
			&.section-in-view {
				h2 {
					transform: translateX(0);
				}
				img {
					left: rem(30);
					transform: translateX(0) rotate(-15deg);
				}
			}
			h2, p {
				margin: {
					left: auto;
				}
				text-align: right;
			}
			h2 {
				transform: translateX(calc(100vw + 300px));
				transition: transform ease 0.4s;
			}
			img {
				transform: translateX(calc(100vw + 30px)) rotate(30deg);
				transition: transform ease 0.3s;
			}
		}
		.content-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			p {
				max-width: 70vw;
				font: {
					size: rem(18);
				}
				color: $secondaryColor;
			}
			img {
				width: rem(200);
				position: absolute;
				border: rem(10) solid $quinaryColor;
				box-shadow: 0 0 0 rem(2) $secondaryColor;
				border-radius: rem(15);
				object-fit: cover;
			}
		}
		h2 {
			display: flex;
			align-items: center;
			gap: rem(5);
			font: {
				size: rem(30);
			}
			color: $secondaryColor;
			span {
				color: rgba($primaryColor, 0.7);
				text-shadow: rem(1) 0 rgba($secondaryColor, 0.5);
			}
		}
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%
	}

	50% {
		background-position: 100% 19%
	}

	100% {
		background-position: 0% 82%
	}
}